<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://microsoft.com">
    <CodeSnippet Format="1.0.0">
        <Header>
            <Title>Class for C++</Title>
            <Shortcut>classcpp</Shortcut>
            <Description></Description>
            <Author></Author>
            <SnippetTypes>
                <SnippetType>Expansion</SnippetType>
            </SnippetTypes>
        </Header>
        <Snippet>
            <Code Language="cpp">
                <![CDATA[
#include <lib/system.h>

class MyClass : public Object {

public:

};
]]>
            </Code>
        </Snippet>
    </CodeSnippet>
</CodeSnippets>
